server:
  port: 8081
spring:
  jpa:
    hibernate:
      ddl-auto: create-drop
  datasource:
    url: jdbc:postgresql://localhost:5432/demoplants
    username: admin
    password: password
  mvc:
    view:
      prefix: /templates/
      suffix: .html

