<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../../static/styles/login-register.css">
</head>
<body>
<main>
    <form th:action="@{/login}" method="post" class="service__body">
        <div class="service__content">
            <div class="service__title">Sign in</div>
            <div class="service-form-item">
                <img src="../../static/icons/mail.svg" class="form-icon">
                <label for="username" class="form-label placeholder-username">Username</label>
                <input id="username" name="username" type="text" class="form-input" tabindex="1">
            </div>
            <div class="service-form-item">
                <img src="../../static/icons/lock.svg" class="form-icon">
                <label for="password" class="form-label placeholder-password">Password</label>
                <input id="password" name="password" type="password" class="form-input" tabindex="2">
            </div>
            <input type="hidden" name="_csrf" value="${_csrf.token}">
            <div class="service__form-button">
                <input type="submit" class="form-button" value="Sign in">
            </div>
            <div class="service__form-link">
                <a th:href="@{/register}" class="form-link">Create an account</a>
            </div>
            <div class="" th:class="${errorClass}">
                <div class="error-message" th:text="${errorMessage}"></div>
            </div><!-- error-->
        </div>
    </form>
</main>
<script src="../../static/scrypts/login-register.js"></script>
</body>
</html>