<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="1300">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <!--    <link>//icon-->
    <link type="text/css" rel="stylesheet" href="../../static/styles/myGarden.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <title>Planty</title>
</head>
<body>

<div class="wrapper">
    <!--header-->
    <div id="lock"></div>
    <header th:insert="~{pages/components/header::home-header}">
    </header>
    <!--/header-->

    <!--body-->
    <main>
        <div class="container">
            <div th:text="'Welcome ' + ${utilizer.getName()} + ' ' + ${utilizer.getSurname()} +'!'"
                 class="greeting"></div>
            <div class="main__container">

                <!--                tasks-->
                <div class="garden__tasks">
                    <div class="garden__tasks-body">
                        <div class="tasks-title title">Tasks</div>
                        <div class="task-icon"></div>

                        <div class="task-items">

                            <!--item for js-->
                            <div class="task-item">
                                <div class="task-item-container">
                                    <div class="task-item-image">
                                        <img src="../../static/icons/water.png">
                                    </div>
                                    <div class="task-item-text">
                                        <div class="task-item-title">Полить</div>
                                        <div class="task-item-subtitle">ромашка</div>
                                    </div>
                                </div>
                                <div class="task-button">
                                    <div class="task-completed"></div>
                                </div>
                            </div>
                            <!---->
                            <div class="task-item">
                                <div class="task-item-container">
                                    <div class="task-item-image">
                                        <img src="../../static/icons/fertilizer.png">
                                    </div>
                                    <div class="task-item-text">
                                        <div class="task-item-title">Полить</div>
                                        <div class="task-item-subtitle">ромашка</div>
                                    </div>
                                </div>
                                <div class="task-button">
                                    <div class="task-completed"></div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <!--                tasks-->

                <!--                garden-->
                <div class="garden">
                    <div class="garden-body">
                        <div class="garden-title">
                            <div class="garden-title-icon"><img src="../../static/icons/rose.png"></div>
                            <div class="garden-title-title"> My Garden</div>
                            <div class="garden-title-icon"><img src="../../static/icons/rose.png"></div>
                        </div>
                        <div class="garden-plants">

                            <div class="plants-find">
                                <input class="find-input" type="text" name="findPlant" placeholder="Search new plants">
                                <button type="submit" class="find-button"><img src="../../static/icons/find.png"
                                                                               class="find-button-icon"></button>
                            </div>

                            <!--item for js-->
                            <div th:each="plantSample : ${plantSamples}" class="">
                                <a href="#properties" class="plants-item popup-link">
                                    <div class="plants-item-photo"><img alt="Chamomile" src="../../static/images/chamomile.png"></div>
                                    <div class="plants-item-text">
                                        <div class="plants-item-property">
                                            <div class="plants-item-name">Name:</div>
                                            <div class="plants-item-value"
                                                 th:text="${plantSample.getPlant().getName()}"></div>
                                        </div>
                                        <div class="plants-item-property">
                                            <div class="plants-item-name">Age:</div>
                                            <div class="plants-item-value"
                                                 th:text="${plantSample.getPlantAge().getDays()+ ' days'}"></div>
                                        </div>
                                    </div>
                                </a>
                                <div id="properties" class="garden__properties popup">
                                    <div class="garden__properties-body popup-body">
                                        <div class="garden__properties-content popup content">
                                            <div class="garden__properties-content-forscroll">
                                                <div class="properties-title title">Properties</div>
                                                <div class="properties-icon"></div>

                                                <div class="properties-items">

                                                    <!--item for js-->
                                                    <div class="properties-item">
                                                        <div class="properties-item-property">Name:</div>
                                                        <div class="properties-item-value"
                                                             th:text="${plantSample.getPlant().getName()}"></div>
                                                    </div>
                                                    <!---->
                                                    <div class="properties-item">
                                                        <div class="properties-item-property">Species:</div>
                                                        <div class="properties-item-value"
                                                             th:text="${plantSample.getPlant().getHistory().getSpecies()}"></div>
                                                    </div>

                                                    <div class="properties-item">
                                                        <div class="properties-item-property">Family:</div>
                                                        <div class="properties-item-value"
                                                             th:text="${plantSample.getPlant().getHistory().getFamily()}"></div>
                                                    </div>

                                                    <div class="properties-item">
                                                        <div class="properties-item-property">Appearance description:
                                                        </div>
                                                        <div class="properties-item-value"
                                                             th:text="${plantSample.getPlant().getDescription().getExternal()}"></div>
                                                    </div>

                                                    <div class="properties-item">
                                                        <div class="properties-item-property">Fragmentation:</div>
                                                        <div class="properties-item-value"
                                                             th:text="${plantSample.getPlant().getDescription().getFragmentation()}"></div>
                                                    </div>

                                                    <div class="properties-item">
                                                        <div class="properties-item-property">Protection status:</div>
                                                        <div class="properties-item-value"
                                                             th:text="${plantSample.getPlant().getDescription().getProtectionStatus().getStatus()}"></div>
                                                    </div>

                                                    <div class="properties-item">
                                                        <div class="properties-item-property">Temperature:</div>
                                                        <div class="properties-item-value"
                                                             th:text="${plantSample.getPlant().getConditions().getTemperature()}"></div>
                                                    </div>

                                                    <div class="properties-item">
                                                        <div class="properties-item-property">Humidity:</div>
                                                        <div class="properties-item-value"
                                                             th:text="${plantSample.getPlant().getConditions().getHumidity()}"></div>
                                                    </div>

                                                    <div class="properties-item">
                                                        <div class="properties-item-property">Lighting:</div>
                                                        <div class="properties-item-value"
                                                             th:text="${plantSample.getPlant().getConditions().getLighting()}"></div>
                                                    </div>

                                                    <div class="properties-item">
                                                        <div class="properties-item-property">Soil:</div>
                                                        <div class="properties-item-value"
                                                             th:text="${plantSample.getPlant().getConditions().getSoil()}"></div>
                                                    </div>

                                                    <div class="properties-item">
                                                        <div class="properties-item-property">Fertilizer:</div>
                                                        <div class="properties-item-value"
                                                             th:text="${plantSample.getPlant().getConditions().getFertilizer()}"></div>
                                                    </div>

                                                    <div class="properties-item">
                                                        <div class="properties-item-property">Transplantation:</div>
                                                        <div class="properties-item-value"
                                                             th:text="${plantSample.getPlant().getConditions().getTransplantation()}"></div>
                                                    </div>

                                                    <div class="properties-item">
                                                        <div class="properties-item-property">Threats:</div>
                                                        <div class="properties-item-value"
                                                             th:text="${plantSample.getPlant().getConditions().getThreats()}"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                garden-->

                <!--calendar-->
                <div class="calendar-wrapper">
                    <div class="calendar-header">
                        <p class="current-date"></p>
                    </div>
                    <div class="calendar">
                        <ul class="weeks">
                            <li>Su</li>
                            <li>Mo</li>
                            <li>Tu</li>
                            <li>We</li>
                            <li>Th</li>
                            <li>Fr</li>
                            <li>Sa</li>
                        </ul>
                        <ul class="days"></ul>
                    </div>
                </div>
                <!--calendar-->

            </div>
        </div>

        <!--        user-info-box-->
        <div id="user-info" class="user-info popup">
            <div class="user-info-body popup__body">
                <div class="user-info-content popup__content">
                    <div class="user-info-background"></div>
                    <div class="user-icon">
                        <div class="user-icon-head"></div>
                        <div class="user-icon-body"></div>
                    </div>
                    <div th:text="${utilizer.getName()} + ' ' + ${utilizer.getSurname()}" class="user-name"></div>
                    <div th:text="'@'+${utilizer.getLogin()}" class="user-login sign-out-item"></div>
                    <div th:replace="${utilizer.getRole().toString().equals('ADMIN')} ? ~{pages/components/toolbars::adminToolbar} : ~{}"></div>
                    <div th:replace="${utilizer.getRole().toString().equals('MODERATOR')} ? ~{pages/components/toolbars::moderatorToolbar} : ~{}"></div>
                    <div class="user-info-link">
                        <img class="sign-out-icon" src="../../static/icons/sign-out.png">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" class="sign-out-button" value="Sign out">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--        user-info-box-->
    </main>
    <!--/body-->

    <!--footer-->
    <footer th:insert="~{pages/components/footer::footer}">
    </footer>
    <!--/footer-->
</div>
<script src="../../static/scrypts/myGarden.js"></script>
</body>

</html>