<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="1300">
    <!--    <link>//icon-->
    <link type="text/css" rel="stylesheet" href="../../static/styles/myGarden.css">
    <title>Planty</title>
</head>
<body>

<div class="wrapper">
    <!--header-->
    <div id="lock"></div>
    <header>
        <div class="container">
            <div class="header__container">
                <div class="header__logo">
                    Planty
                </div>
                <div class="menu">
                    <div class="menu__icon">
                        <span></span>
                    </div>
                    <nav class="header__menu">
                        <ul class="header__list">
                            <li class="header__list-item">
                                <a href="#sign_in" class="popup-link">HOME</a></li>
                            <li class="header__list-item">
                                <a href="#sign_in" class="popup-link">MY GARDEN</a></li>
                            <li class="header__list-item">
                                <a href="">ABOUT US</a></li>
                            <li class="header__list-item">
                                <a href="#sign_in" class="popup-link">SIGN IN</a></li>
                            <li class="header__list-item">
                                <a href="" class="">(0 6 9) 5 3 8 3 6 3</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!--/header-->

    <!--body-->
    <main>
        <div class="container">
            <div class="greeting">Welcome User !</div>
            <div class="main__container">
                <div class="garden__tasks">
                    <div class="garden__tasks-body">
                        <div class="tasks-title title">Tasks</div>
                        <div class="task-icon"></div>

                        <div class="task-items">

                            <!--item for js-->
                            <div class="task-item">
                                <div class="task-item-container">
                                    <div class="task-item-image">
                                        <img src="../../static/icons/water.png">
                                    </div>
                                    <div class="task-item-text">
                                        <div class="task-item-title">Полить</div>
                                        <div class="task-item-subtitle">ромашка</div>
                                    </div>
                                </div>
                                <div class="task-button">
                                    <div class="task-completed"></div>
                                </div>
                            </div>
                            <!---->
                            <div class="task-item">
                                <div class="task-item-container">
                                    <div class="task-item-image">
                                        <img src="../../static/icons/fertilizer.png">
                                    </div>
                                    <div class="task-item-text">
                                        <div class="task-item-title">Полить</div>
                                        <div class="task-item-subtitle">ромашка</div>
                                    </div>
                                </div>
                                <div class="task-button">
                                    <div class="task-completed"></div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="garden">
                    <div class="garden-body">
                        <div class="garden-title">
                            <div class="garden-title-icon"><img src="../../static/icons/rose.png"></div>
                            <div class="garden-title-title"> My Garden</div>
                            <div class="garden-title-icon"><img src="../../static/icons/rose.png"></div>
                        </div>
                        <div class="garden-plants">

                            <!--item for js-->
                            <div class="plants-item">
                                <div class="plants-item-photo"><img src="../../static/images/chamomile.png"></div>
                                <div class="plants-item-text">
                                    <div class="plants-item-property">
                                        <div class="plants-item-name">Name:</div>
                                        <div class="plants-item-value">Romashka</div>
                                    </div>
                                    <div class="plants-item-property">
                                        <div class="plants-item-name">Age:</div>
                                        <div class="plants-item-value">87</div>
                                    </div>
                                </div>
                            </div>
                            <!---->
                            <div class="plants-item">
                                <div class="plants-item-photo"><img src="../../static/images/chamomile.png"></div>
                                <div class="plants-item-photo"></div>
                                <div class="plants-item-text">
                                    <div class="plants-item-property">
                                        <div class="plants-item-name">Name:</div>
                                        <div class="plants-item-value">Romashka uyviyoviuogiugiuogigiu</div>
                                    </div>
                                    <div class="plants-item-property">
                                        <div class="plants-item-name">Age:</div>
                                        <div class="plants-item-value">87</div>
                                    </div>
                                </div>
                            </div>

                            <div class="plants-new">
                                <img src="../../static/icons/plus.png">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="properties">
                    <div class="properties-link">
                        <a href="#properties" class="popup-link">PROPERTIES</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="properties" class="garden__properties popup">
            <div class="garden__properties-body popup-body">
                <div class="garden__properties-content popup content">
                    <div class="properties-title title">Properties</div>
                    <div class="properties-icon"></div>

                    <div class="properties-items">

                        <!--item for js-->
                        <div class="properties-item">
                            <div class="properties-item-property">Светолюбивый:</div>
                            <div class="properties-item-value">Очень</div>
                        </div>
                        <!---->
                        <div class="properties-item">
                            <div class="properties-item-property">Светолый:</div>
                            <div class="properties-item-value">Очеhkgcuykky l;sdfhighipsdh iasdifjbi;;sdj ;ihand;lhno; sidfhaer hjoia;dh atisslif jf'lfjs fcjy fjflff jнь</div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </main>
    <!--/body-->

    <!--footer-->
    <footer>
        <div class="container">
            <div class="footer__container">
                <p class="footer__text">© 2023 All rights reserved</p>
            </div>
        </div>
    </footer>
    <!--/footer-->
</div>

<script src="../../static/scrypts/find-plant.js"></script>
</body>

</html>