<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="1200">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <!--    <link>//icon-->
    <link type="text/css" rel="stylesheet" href="../../static/styles/viewAllUsers.css">
    <title>Planty</title>
</head>
<body>
<div class="wrapper">
    <!--header-->
    <header th:insert="~{pages/components/header::header}">
    </header>
    <!--header-->

    <!--main-->
    <main class="main">
        <div class="container">
            <div class="main__container">
                <div class="list-title">All current users</div>
                <div class="users-list">
                    <div th:each="utilizer : ${users}" class="user-item">
                        <div th:replace="${utilizer.getBase64Avatar()==null} ? ~{pages/components/icons::userDefault} : ~{pages/components/icons::userAvatar}"></div>
                        <div class="user-info">
                            <div class="info-item">
                                <div class="item-property">user:</div>
                                <div th:text="${utilizer.getName() + ' ' + utilizer.getSurname()}" class="item-value"></div>
                            </div>
                            <div class="info-item">
                                <div class="item-property">login:</div>
                                <div th:text="${utilizer.getLogin()}" class="item-value"></div>
                            </div>
                        </div>
                        <div class="inspect-link">
                            <a th:href="@{/userInfo/{userId}(userId=${utilizer.getId()})}" class="inspect">Inspect</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--main-->

    <!--footer-->
    <footer th:insert="~{pages/components/footer::footer}">
    </footer>
    <!--footer-->
</div>

</body>
</html>