<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="1200">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <!--    <link>//icon-->
    <link type="text/css" rel="stylesheet" href="../static/styles/style.css">
    <title>Planty</title>
</head>

<body>
<div class="wrapper">
    <!--header-->
    <div id="lock"></div>
    <header th:insert="~{pages/components/header::header}">
    </header>
    <!--/header-->

    <!--body-->
    <main>
        <div class="container">
            <div class="main__container">
                <div class="main__text">
                    <div class="main__title">
                        <span>Planty</span> - your faithful companion in caring for your houseplants!
                    </div>
                    <p class="main__subtitle">
                        This convenient mobile app provides you with all the essential
                        tools to monitor the health and beauty of your green friends.
                    </p>
                    <div class="main__button">
                        <a th:href="@{/login}" class="popup-link">DISCOVER IT</a>
                    </div>
                </div>
                <div class="main__image">
                    <img src="../static/images/cactus-1842095.K6FKT.jpg">
                </div>
            </div>
        </div>
    </main>
    <!--/body-->

    <!--footer-->
    <footer th:insert="~{pages/components/footer::footer}">
    </footer>
    <!--/footer-->
</div>
</body>

</html>