@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.eot');
    src: local('☺'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: local('☺'), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype'), url('../fonts/Roboto-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: local('☺'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/
.wrapper {
    min-height: 100vh;
    background: #f8f8f8;
    display: flex;
    flex-direction: column;
}

.container {
    padding: 0 20px;
    width: 1200px;
    margin: 0 auto;
}

header {
    background: #f1f1f1;
}

.header__container {
    height: 115px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.header__logo {
    font-family: 'Gill Sans';
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
    color: #494949;
    width: 180px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {

}

.menu__icon {

}

.header__menu a {
    font-family: Montserrat;
    font-size: 17px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #494949;
    transition: all 0.3s ease 0s;
}

.header__list {
    display: flex;
}

.header__list-item {
    padding: 0 25px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list-item a:hover {
    transition: all 0.3s ease 0s;
    color: rgb(62 206 147);
}

.header__list-item::before {
    content: '';
    position: absolute;
    left: 100%;
    top: 0px;
    width: 2px;
    height: 20px;
    background-color: grey;
}

.header__list-item:last-child::before {
    visibility: hidden;
}

footer {
    background: #f1f1f1;
}

.footer__container {
    padding: 0 2px;
}

.footer__text {
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
}

main {
    flex: 1 0 auto;
}

.main__container{
    margin: 35px ;
}

.list-title {
    font-family: Montserrat;
    font-size: 30px;
    text-align: center;
    color: #494949;
    margin-top: 30px;
    margin-bottom: 35px;
}

.plants-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plants-item {
    width: 60%;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.plants-photo img{
    width: 110px;
    border-radius: 50%;
}

.plants-info {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-info-item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background: white;
    border-radius: 10px;
    border-bottom:solid 1px #33aaff;
}

.list-info-item:last-child{
    margin-bottom: 0;
}

.list-item-property {
    font-family: "Gill Sans";
    padding-left: 8px;
    font-size: 18px;
    color: #494949;
    width: 60px;
}

.list-item-value {
    flex: 1 0 auto;
    padding: 10px 15px;
}

.inspect-link {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.inspect {
    cursor: pointer;
    font-family: Montserrat;
    font-size: 20px;
    color: white;
    align-self: center;
    padding: 10px 30px;
    background: #33aaff;
    border-radius: 20px;
    transition: all 0.8s ease 0s;
    margin-bottom: 10px;
}

.inspect:hover{
    padding: 10px 50px;
    transition: all 0.6s ease 0s;
}

.add{
    cursor: pointer;
    font-family: Montserrat;
    font-size: 20px;
    color: white;
    align-self: center;
    padding: 10px 30px;
    background: rgb(62 206 147);
    border-radius: 20px;
    transition: all 0.8s ease 0s;
}

.add:hover{
    padding: 10px 50px;
    transition: all 0.6s ease 0s;
}

.add-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.5s ease 0s;
    background: rgba(185, 190, 190, 0.35);
    backdrop-filter: blur(5px);
}

.add-popup.open {
    opacity: 1;
    visibility: visible;
}

.add-body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-content {
    width: 550px;
    height: 60%;
    border-radius: 50px;
    background: #f8f8f8;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-title{
    font-family: Montserrat;
    font-size: 30px;
    text-align: center;
    color: #494949;
    margin-bottom: 25px;
}

.tools-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
}

.tools-label {
    font-family: "Gill Sans";
    font-size: 18px;
    color: #494949;
    margin-bottom: 5px;
    text-align: center;
}

.tools-input {
    border-radius: 10px;
    padding: 10px 15px;
    border: solid 1px transparent;
}

.tools-input:focus{
    border: solid 1px #00b9fb;
}

.add-form-link {
    cursor: pointer;
    font-family: Montserrat;
    font-size: 20px;
    color: white;
    align-self: center;
    padding: 10px 30px;
    background: rgb(62 206 147);
    border-radius: 20px;
    transition: all 0.8s ease 0s;
}

.add-form-link:hover{
    padding: 10px 50px;
    transition: all 0.6s ease 0s;
}

.add-link {
    margin-top: 20px;
}